{% extends 'base.html'%}

{% block content %}
<h2 class="formtitle">Edit Member</h2>
<form action="/members/{{selected_member.id}}" method="POST" class="mainforms">
<div>
    <label for="image_url">Image:</label>
    <input type="text" id="image_url" name="image_url" value="{{selected_member.image_url}}" required>
</div>
<div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{selected_member.name}}" required>
</div>
<div>
    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" value="{{selected_member.date_of_birth}}" required>
</div>
<div>
    <label for="memb_number">Member Number</label>
    <input type="number" id="memb_number" name="memb_number" value="{{selected_member.memb_number}}" required>
</div>
<div>
    <label for="memb_type">Membership Type:</label>
    <select name="memb_type" id="memb_type">
        {% for memb_type in all_memb_types %}
          <option value="{{ memb_type.id }}"
            {% if selected_member.memb_type.id == memb_type.id %} selected="selected"{% endif %}>
            {{ memb_type.name }}
          </option>
        {% endfor %}
    </select>
</div>
<div>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" value="{{selected_member.address}}" required>
</div>
<div>
    <label for="contact_number">Contact Number:</label>
    <input type="text" id="contact_number" name="contact_number" value="{{selected_member.contact_number}}" required>
</div>
<div>
    <label for="active">Active?</label>
    <select name="active" id="active">
        <option value="true"
            {% if selected_member.active == "True" %} selected="selected" {% endif %}>
            True
        </option>
        <option value="false"
            {% if selected_member.active == "False" %} selected="selected" {% endif %}>
            False
        </option>
    </select>
</div>
<div class="submitbutton">
    <input type="submit" value="Edit Member" class="submit3">
</div>    
</form>

{% endblock %}