{% extends 'base.html'%}

{% block content %}
<section class="membdetails">
<section class="showimage">
    <img src="{{selected_member.image_url}}" alt="{{selected_member.name}}">
</section>

<section>   
    <h2>{{selected_member.name}}</h2>
    <p>
        <b>Date of Birth:</b> {{selected_member.date_of_birth}}
    </p>
    <p>
        <b>Address:</b> {{selected_member.address}}
    </p>
    <p>
        <b>Contact Number:</b> {{selected_member.contact_number}}
    </p>
</section>

<section class="membership">
    <h3>Membership:</h3>
    <p>
        <b>Number:</b> {{selected_member.memb_number}}
    </p>
    <p>
        <b>Type:</b>  {{selected_member.memb_type.name}}
    </p>
</section>
</section>
<section class="classesbooked">
<section>
    <h2>Classes Booked:</h2>
    <ul>
     {% for yogaclass in found_yogaclasses %}
        <li>{{yogaclass.name}} ({{yogaclass.time}})</li>
     {% endfor %}   
    </ul>
</section>
<a href="/members/{{selected_member.id}}/edit" class="submit2">Edit Member</a>
</section>
{% endblock %}