{% extends 'base.html'%}

{% block content %}
<h1>Make a Booking</h1>
<!-- can i not have an index for bookings? -->
<form action="" method="POST">
  <label for="member">Select a member:</label>
    <select name="member_id" id="member">
      {% for member in all_members %}
      <option value="{{member.id}}">{{member.name}}</option>
      {% endfor %}
    </select>
  
  <label for="yogaclass">Select a class:</label>
    <select name="yogaclass_id" id="yogaclass">
      {% for yogaclass in all_yogaclasses %}
      <option value="{{yogaclass.id}}">{{yogaclass.name}} ({{yogaclass.time}})</option>
      {% endfor %}
    </select>

  <input type="submit" value="Make a Booking">
{% endblock %}