{% extends 'base.html'%}

{% block content %}
<section class="indexheader">
<h2>Instructors</h2>
<a href="/instructors/new" class="submit2">Add Instructor</a>
</section>
<section class="gridcontainer">
{% for instructor in all_instructors %}
<section class="instructor">
<section>   
    <img src="{{instructor.image_url}}" alt="{{instructor.name}}" id="instimage">
</section>
<section class="instdetails">     
    <h3>
        {{instructor.name}}
    </h3>
    <p>{{instructor.contact_number}}</p>

    <h3>Classes:</h3>
    <ul>
    {% for yogaclass in all_yogaclasses %}
    {% if yogaclass.instructor.id == instructor.id%}   
        <li>
            {{yogaclass.name}}
        </li>
    {% endif %}    
    {% endfor %}    
    </ul>

    <a href="/instructors/{{instructor.id}}/edit" class="submit4">Edit Instructor</a> 
   
    <form action="/instructors/{{instructor.id}}/delete" method="POST">
        <input type="submit" value="Remove Instructor" class="submit">
    </form>
</section>     
</section>    
{% endfor %}
</section>

{% endblock %}