{% extends 'base.html'%}

{% block content %}
<h2>Instructors</h2>
<a href="/instructors/new">Add Instructor</a>
<section>
{% for instructor in all_instructors %}
    <!-- <img src="" alt=""> need if statement for image to change with each instructor-->
    <h3>
        {{instructor.name}}
    </h3>
    <p>{{instructor.contact_number}}</p>
   
    <form action="/instructors/{{instructor.id}}/delete" method="POST">
        <input type="submit" value="Remove Instructor">
    </form> 
{% endfor %}
</section>

{% endblock %}