{% extends 'base.html'%}

{% block content %}
<h2>Add Class</h2>
<form action="/yogaclasses/{{selected_yogaclass.id}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{selected_yogaclass.name}}" required>

    <label for="duration">Duration:</label>
    <input type="number" id="duration" name="duration" value="{{selected_yogaclass.duration}}" required>

    <label for="description"></label>Description:</label>
    <input type="text" id="description" name="description" value="{{selected_yogaclass.description}}" required>

    <label for="instructor">Instructor:</label>
    <select name="instructor" id="instructor">
        {% for instructor in all_instructors %}
        <option value="{{instructor.id}}"
         {% if selected_yogaclass.instructor.id == instructor.id %} selected ="selected" {% endif %}>
         {{instructor.name}}
        </option>
        {% endfor %}
    </select>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="{{selected_yogaclass.date}}" required>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" value="{{selected_yogaclass.time}}" required>

    <label for="capacity">Capacity:</label>
    <input type="number" id="capacity" name="capacity" value="{{selected_yogaclass.capacity}}" required>

    <label for="active">Active?</label>
    <select name="active" id="active">
        <option value="true"
            {% if selected_yogaclass.active == "True" %} selected="selected" {% endif %}>
            True
        </option>
        <option value="false"
            {% if selected_yogaclass.active == "False" %} selected="selected" {% endif %}>
            False
        </option>
    </select>

    <input type="submit" value="Edit Class">
</form>
{% endblock %}