{% extends 'base.html'%}

{% block content %}
<section class="indexheader">
<h2>Classes</h2>
<a href="/yogaclasses/new" class="submit2">Add Class</a>
</section>
<section class="classesbody">
  {% for yogaclass in all_yogaclasses %}
  <section class="info"> 
      <h3>
          <a href="/yogaclasses/{{yogaclass.id}}">
              {{yogaclass.name}} ({{yogaclass.time}}) - {{yogaclass.duration}} min
          </a>
      </h3>
      <h4>
          {{yogaclass.instructor.name}}
      </h4>
      {% if yogaclass.active == False %}
      <p class="inactive">Inactive</p>
      {% endif %}

      <form action="/yogaclasses/{{yogaclass.id}}/delete" method="POST">
          <input type="submit" value="Remove Class" class="submit">
      </form> 
    </section> 
    <section class="bookclass">
    {% if yogaclass.available == False %}
    <p>Class is Full<p>
    {% elif yogaclass.active == False %}
    <p>Class not available<p>
    {% else %}
    <details>
        <summary>Book Class</summary>

        <form action="/bookings" method="POST">
            <label for="member">Select a member:</label>
              <select name="member_id" id="member">
                {% for member in yogaclass.members %}
                {% if member.active == True %}
                <option value="{{member.id}}">{{member.name}}</option>
                {% endif %}
                {% endfor %}
              </select>
            
            <label for="yogaclass">Select a class:</label>
              <select name="yogaclass_id" id="yogaclass">
                <option value="{{yogaclass.id}}">{{yogaclass.name}} ({{yogaclass.time}})</option>
              </select>
            <input type="submit" value="Make a Booking" class="submit">

    </details>
    {% endif %}
  </section>
{% endfor %}
</section>
{% endblock %}