{% extends 'base.html'%}

{% block content %}
<h2>Classes</h2>
<a href="/yogaclasses/new">Add Class</a>
<section>
{% for yogaclass in all_yogaclasses %}
    <h3>
        <a href="/yogaclasses/{{yogaclass.id}}">
            {{yogaclass.name}} ({{yogaclass.time}}) - {{yogaclass.duration}} min
        </a>
    </h3>
    <h4>
        {{yogaclass.instructor.name}}
    </h4>
    <form action="/yogaclasses/{{yogaclass.id}}/delete" method="POST">
        <input type="submit" value="Remove Class">
    </form> 

    {% if yogaclass.available == False %}
    <a href="">Class is Full</a>
    {% else %}
    <a href="">Book Class</a>
    {% endif %}
{% endfor %}
</section>
{% endblock %}