{% extends 'base.html'%}

{% block content %}
<h2>Add Class</h2>
<form action="/yogaclasses" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Name" required>

    <label for="duration">Duration:</label>
    <input type="number" id="duration" name="duration" placeholder="Class Duration in Minutes" required>

    <label for="description"></label>Description:</label>
    <input type="text" id="description" name="description" placeholder="Class Description" required>

    <label for="instructor">Instructor:</label>
    <select name="instructor" id="instructor">
        <option selected="true" disabled="disabled">Choose Instructor</option>
        {% for instructor in all_instructors %}
        <option value="{{instructor.id}}" required>{{instructor.name}}</option>
        {% endfor %}
    </select>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" placeholder="Class Time" required>

    <label for="capacity">Capacity:</label>
    <input type="number" id="capacity" name="capacity" placeholder="Class Capacity" required>

    <input type="submit" value="Add Class">
</form>
{% endblock %}