{% extends 'base.html'%}

{% block content %}
<h2 id="classname">{{selected_yogaclass.name}}</h2>
<section class="showclass">
<section class="classinfo">
    <p>
        {{selected_yogaclass.description}}
    </p>
    <h3>Time</h3>
        <p>
            {{selected_yogaclass.time}} ({{selected_yogaclass.duration}} min)
        </p>
    <h3>Instructor</h3>
        <img src="{{selected_yogaclass.instructor.image_url}}" alt="{{selected_yogaclass.instructor.name}}">
        <p>
            {{selected_yogaclass.instructor.name}}
        </p>
</section>
<section class="membersbooked">
    <h3>Members Booked ({{member_count}}/{{selected_yogaclass.capacity}})</h3>
    <section class="memberslist">  
        <section class="memberlistnames">
        <ul>
        {% for member in found_members%}   
            <li>{{member.name}}</li>    
        {% endfor %}
        </ul>
        </section>
        <section class="removebooking">
        {% for booking in found_bookings%}     
        <form action="/bookings/{{booking.id}}/delete" method="POST">
            <input type="submit" value="Remove Booking" class="submit">
        </form> 
        {% endfor %} 
    </section>
    </section>      
</section>
</section>

<a href="/yogaclasses/{{selected_yogaclass.id}}/edit" class="submit2" id="editclass">Edit Class</a>
{% endblock %}