<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='members.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='yogaclasses.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='yogaclass.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='member.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<section class="header">   
    <hgroup>
        <h1>
        <a href="/">Flex & Flow</a>
        </h1>
        <h2>Yoga</h2>   
    </hgroup>
    <nav>
        <ul>
            <li>
                <a href="/yogaclasses">Classes</a>
            </li>
            <li>
                <a href="/members">Members</a>
            </li>
            <li>
                <a href="/instructors">Instructors</a>
            </li>
            <li>
                <a href="/bookings/new"">Make a Booking</a>
            </li>
        </ul>
    </nav>
</section>
    {% block content %}

    {% endblock %}
</body>
</html>