<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Flex & Flow Yoga</title>
</head>
<body>
    <h1>
        <a href="/">Flex & Flow Yoga</a>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="/yogaclasses">Classes</a>
            </li>
            <li>
                <a href="/members">Members</a>
            </li>
            <li>
                <a href="/bookings/new"">Make a Booking</a>
            </li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>