<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <title>Flex and Flow Yoga</title>
</head>
<body>
    <h1>Welcome to the Flex & Flow Yoga Management App</h1>
<section>
    <a href="/yogaclasses">Classes</a>

    <a href="/members">Members</a>

    <a href="/instructors">Instructors</a>

    <a href="/bookings/new" id="makebooking">Make a Booking</a>
</section>    
</body>
</html>


